comprehensive-test-workflow.json
{
	"name": "Lexware Office Delivery Notes Test Workflow",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "webhook/delivery-notes-test",
				"responseMode": "responseNode",
				"options": {}
			},
			"id": "webhook-trigger",
			"name": "Webhook Trigger",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 1,
			"position": [240, 300],
			"webhookId": "delivery-notes-test"
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "create",
				"additionalFields": {
					"voucherDate": "={{ $now.toISOString().split('T')[0] }}",
					"contactId": "{{ $json.contactId || 'test-contact-id' }}",
					"deliveryNoteStatus": "draft",
					"deliveryDate": "={{ $now.plus({ days: 7 }).toISOString().split('T')[0] }}",
					"language": "en",
					"currency": "EUR",
					"note": "Test delivery note created via n8n workflow",
					"lineItems": [
						{
							"type": "service",
							"name": "Test Service Item",
							"quantity": 2,
							"unitName": "piece",
							"unitPrice": {
								"currency": "EUR",
								"netAmount": 25.00,
								"taxRatePercentage": 19
							}
						}
					]
				}
			},
			"id": "create-delivery-note",
			"name": "Create Delivery Note",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [460, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "get",
				"deliveryNoteId": "={{ $json.id }}"
			},
			"id": "get-delivery-note",
			"name": "Get Delivery Note",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [680, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "update",
				"deliveryNoteId": "={{ $json.id }}",
				"additionalFields": {
					"note": "Updated delivery note via n8n workflow",
					"deliveryDate": "={{ $now.plus({ days: 10 }).toISOString().split('T')[0] }}"
				}
			},
			"id": "update-delivery-note",
			"name": "Update Delivery Note",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [900, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "get",
				"deliveryNoteId": "={{ $json.id }}"
			},
			"id": "get-updated-delivery-note",
			"name": "Get Updated Delivery Note",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [1120, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "getAll",
				"returnAll": true,
				"additionalFields": {
					"voucherType": "deliverynote",
					"voucherStatus": "draft"
				}
			},
			"id": "get-all-delivery-notes",
			"name": "Get All Delivery Notes",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [1340, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"string": [
						{
							"value1": "={{ $json.deliveryNoteStatus }}",
							"operation": "equals",
							"value2": "draft"
						}
					]
				}
			},
			"id": "check-if-draft",
			"name": "Check If Draft",
			"type": "n8n-nodes-base.if",
			"typeVersion": 1,
			"position": [1560, 300]
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "get",
				"deliveryNoteId": "={{ $json.id }}"
			},
			"id": "get-delivery-note-for-pursue",
			"name": "Get Delivery Note for Pursue",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [1780, 200],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"resource": "deliveryNote",
				"operation": "get",
				"deliveryNoteId": "={{ $json.id }}"
			},
			"id": "get-delivery-note-for-render",
			"name": "Get Delivery Note for Render",
			"type": "lexwareOffice",
			"typeVersion": 1,
			"position": [1780, 400],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"httpMethod": "PUT",
				"url": "={{ $('Create Delivery Note').item.json.resourceUri }}/pursue",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Authorization",
							"value": "Bearer {{ $credentials.lexwareOfficeApi.apiKey }}"
						},
						{
							"name": "Accept",
							"value": "application/json"
						}
					]
				},
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "body",
							"value": "{}"
						}
					]
				}
			},
			"id": "pursue-delivery-note",
			"name": "Pursue Delivery Note",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.1,
			"position": [2000, 200],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"httpMethod": "GET",
				"url": "={{ $('Create Delivery Note').item.json.resourceUri }}/document",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Authorization",
							"value": "Bearer {{ $credentials.lexwareOfficeApi.apiKey }}"
						},
						{
							"name": "Accept",
							"value": "application/pdf"
						}
					]
				}
			},
			"id": "render-delivery-note-document",
			"name": "Render Delivery Note Document",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.1,
			"position": [2000, 400],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"httpMethod": "GET",
				"url": "={{ $('Create Delivery Note').item.json.resourceUri }}/deeplink",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Authorization",
							"value": "Bearer {{ $credentials.lexwareOfficeApi.apiKey }}"
						},
						{
							"name": "Accept",
							"value": "application/json"
						}
					]
				}
			},
			"id": "get-delivery-note-deeplink",
			"name": "Get Delivery Note Deeplink",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.1,
			"position": [2220, 300],
			"credentials": {
				"lexwareOfficeApi": {
					"id": "lexware-api-credentials",
					"name": "Lexware Office API"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// Combine all results into a comprehensive response\nconst results = {\n  createdDeliveryNote: $('Create Delivery Note').item.json,\n  retrievedDeliveryNote: $('Get Delivery Note').item.json,\n  updatedDeliveryNote: $('Update Delivery Note').item.json,\n  finalRetrievedDeliveryNote: $('Get Updated Delivery Note').item.json,\n  allDeliveryNotes: $('Get All Delivery Notes').item.json,\n  pursuedDeliveryNote: $('Pursue Delivery Note').item.json,\n  renderedDocument: $('Render Delivery Note Document').item.json,\n  deeplink: $('Get Delivery Note Deeplink').item.json,\n  summary: {\n    totalDeliveryNotes: $('Get All Delivery Notes').item.json.length,\n    workflowStatus: 'Completed Successfully',\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn results;"
			},
			"id": "combine-results",
			"name": "Combine Results",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2440, 300]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ $json }}",
				"options": {}
			},
			"id": "webhook-response",
			"name": "Webhook Response",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [2660, 300]
		}
	],
	"connections": {
		"Webhook Trigger": {
			"main": [
				[
					{
						"node": "Create Delivery Note",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create Delivery Note": {
			"main": [
				[
					{
						"node": "Get Delivery Note",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Delivery Note": {
			"main": [
				[
					{
						"node": "Update Delivery Note",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Delivery Note": {
			"main": [
				[
					{
						"node": "Get Updated Delivery Note",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Updated Delivery Note": {
			"main": [
				[
					{
						"node": "Get All Delivery Notes",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get All Delivery Notes": {
			"main": [
				[
					{
						"node": "Check If Draft",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check If Draft": {
			"main": [
				[
					{
						"node": "Get Delivery Note for Pursue",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Get Delivery Note for Render",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Delivery Note for Pursue": {
			"main": [
				[
					{
						"node": "Pursue Delivery Note",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Delivery Note for Render": {
			"main": [
				[
					{
						"node": "Render Delivery Note Document",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Pursue Delivery Note": {
			"main": [
				[
					{
						"node": "Get Delivery Note Deeplink",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Render Delivery Note Document": {
			"main": [
				[
					{
						"node": "Get Delivery Note Deeplink",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Delivery Note Deeplink": {
			"main": [
				[
					{
						"node": "Combine Results",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Combine Results": {
			"main": [
				[
					{
						"node": "Webhook Response",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"staticData": null,
	"tags": [
		{
			"createdAt": "2024-01-01T00:00:00.000Z",
			"updatedAt": "2024-01-01T00:00:00.000Z",
			"id": "delivery-notes-test",
			"name": "delivery-notes-test"
		}
	],
	"triggerCount": 1,
	"updatedAt": "2024-01-01T00:00:00.000Z",
	"versionId": "1"
}
